﻿@model WebProject.Models.HomeVar
    @{
        ViewBag.Title = "ButceOlustur";
    }
<div class="dashboard-wrapper">
<div class="container-fluid dashboard-content">
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">@Resource.CreateButce</h5>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    <div class="form-group row">
                        <label for="inputEmail2" class="col-3 col-lg-2 col-form-label text-right">@Resource.ButceAdi</label>
                        <div class="col-9 col-lg-10">
                            @Html.TextBoxFor(x => x.budget.Name, new { @class = "form-control", @required = "true" })
                        </div>
                    </div>


                    <div class="row pt-2 pt-sm-5 mt-1">
                        <div class="col-sm-6 pl-0">
                            <p class="text-right">
                                <button type="submit" class="btn btn-space btn-primary">@Resource.Olustur</button>
                                <button class="btn btn-space btn-secondary">@Resource.Iptal</button>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
</div>